@mixin tipoletra {
	font-family: 'Exo', sans-serif;
}

$color-oscuro:(
	$color-principal: #291701,
	$color-headers: #2a1001,
	$color-carrusel: rgba(41,23,1,0.75),
	map-get($color-oscuro, $color-maincontainer):rgba(0, 0, 0, .5),
	$color-carruselcaptar:rgba(41, 23, 1, 0.75),
	$color-sidebars:rgba(0, 0, 0, .5)
);

$color-claro:(
$color-headers-a: #fff,
$color-menubar: #ffbc01,
map-get($color-oscuro, $color-maincontainer):#9e9e9e,
$color-headerdiv: #5379fa
);

/* General */
body {
	@include tipoletra;
	color: map-get($color-oscuro,$color-principal);
	overflow-x: hidden;
}

a {
	color: map-get($color-oscuro,$color-principal);
	font-weight: bold;
}


/* Header */
header {
	background-color: map-get($color-claro, $color-headers);
	padding-top: 25px;
}

.social-header {
	margin-top: 12px;
}

	.social-header a {
		background-color: map-get($color-claro, $color-headers-a);

	}

		.social-header a .fa-inverse {
			color: map-get($color-oscuro,$color-principal);
		}

.menu-bar {
	background-color: map-get($color-claro,$color-menubar);
	margin-top: 20px;
}
	.menu-bar a {
		color: map-get($color-oscuro,$color-principal);
		font-size: 16px;
		font-weight: 500;
	}

	.menu-bar a:hover {
		text-decoration: none;
		background-color: map-get($color-claro, $color-headers-a);

	}

.menu-list {
	padding: 12px 0;
	margin-bottom: 0;
}
	.menu-list > li:not(:last-child) {
		margin-right: 40px;
	}

/* Content */

/* Main */
#main > .container {
	box-shadow: 0 7px 18px map-get($color-oscuro, $color-maincontainer);
}

/* Carousel */
#slider-home {
	margin-bottom: 50px;
}

.carousel-caption {
	background-color: $color-carruselcaptar;
	height: 100%;
	left: 0;
	top: 0;
	padding: 30px 45px;
	text-align: left;
	width: 340px;
}

	.carousel-caption p {
		font-size: 14px;
		line-height: 18px;
	}

	.carousel-caption h2 {
		font-size: 26px;
		line-height: 30px;
	}

	.carousel-caption .h4 {
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 8px;
	}

	.carousel-caption img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.carousel-caption a {
		border-radius: 0;
		font-weight: bold;
		color: map-get($color-oscuro,$color-principal);
		border: none;
	}

/* Info content */
h3 {
	font-size: 24px;
	border-bottom: 1px solid map-get($color-oscuro,$color-h3);
	padding-bottom: 10px;
	margin-bottom: 15px;
}
	h3 i {
		color: map-get($color-claro ,$color-h3);
	}

p {
	font-size: 16px;
}

/* Footer */
footer {
		background-color: map-get($color-claro,$color-menubar);

	font-size: 12px;
	padding: 10px 0;
}

	footer ul {
		margin-bottom: 0;
	}

	footer a:hover {
		background-color: map-get($color-claro, $color-headers-a);

		text-decoration: none;
	}


/* Footer sidebars */
.sidebars-zone {
	background-color: map-get($color-claro, $color-headers-a);

	padding-top: 20px;
}
	.sidebars-zone h4 {
		font-size: 20px;
		border-bottom: 1px solid map-get($color-oscuro,$color-maincontainer);
		padding-bottom: 10px;
		margin-bottom: 15px;
	}

	.sidebars-zone a {
		margin-bottom: 18px;
		display: block;
	}

	.sidebars-zone a:hover {
		color: map-get($color-oscuro, $color-sidebars);
	}




/* Helpers */
.mar-top-80 {
	margin-top: 80px;
}


@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: $color-headers-a;

	background-color: map-get($color-claro, $color-headers-a);

	@include tipoletra;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(imagenes/Fondo2.jpg);
	background-size: cover;
	z-index: 0;

  -webkit-filter: blur(5px); /*LINEA QUE ME MARCA UN ERROR */
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	background-color: map-get($color-claro, $color-headers-a);

	@include tipoletra;
	font-size: 30px;
	font-weight: 200;
}

.header div span{
	color: $color-headerdiv !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid map-get($color-oscuro,$color-maincontainer);
	border-radius: 2px;
	background-color: map-get($color-claro, $color-headers-a);

	@include tipoletra;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	background-color: map-get($color-claro, $color-headers-a);

	@include tipoletra;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: map-get($color-claro, $color-headers-a);
	border: 1px solid map-get($color-claro, $color-headers-a);
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	@include tipoletra;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}